.smooth-content {
	/* background-image: url('~assets/img/bg/body-bg.png');
	background-repeat: no-repeat;
	background-position: top center; */
	will-change: transform;
}

@media screen and (max-width: 991px) {
	.smooth-content {
		overflow: hidden;
	}
}
