
.projects__item-gal-wrap {
    border: 2px solid rgba(226,232,240,.1);
    border-radius: .3rem;
    overflow: hidden;
}


.projects__item:hover .projects__item-gal-wrap {
    border-color: rgba(226,232,240,.3);
}

.projects__item-gall-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 61%;
}

.projects__item-gall-image img {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__item-gal-wrap.--desk  {
    width: 100%;
}

.projects__item-gal-wrap.--mob  {
    width: 55%;
}
.projects__item-gal-wrap.--mob .image-thumb {
    padding-bottom: 208%;
}